body{
margin:0;
background:#111;
color:#fff;
font-family:Arial;
}

header{
display:flex;
justify-content:space-between;
padding:15px;
background:#000;
position:sticky;
top:0;
}

.logo{
color:red;
font-weight:bold;
font-size:22px;
}

#searchInput{
padding:8px;
width:250px;
}

.section-title{
padding:10px 20px;
color:red;
}

.movie-row{
display:flex;
overflow-x:auto;
gap:15px;
padding:20px;
}

.movie-card{
min-width:180px;
cursor:pointer;
transition:0.3s;
}

.movie-card img{
width:100%;
border-radius:10px;
}

.movie-card:hover{
transform:scale(1.08);
}
